<%- include("../partials/header"); %>

    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/auth.css">
    <link rel="stylesheet" href="/stylesheets/longForm.css">

</head>
    
<body>
    <div class="container initial-container pt-5">
        <div class="form-container mt-0">
            <h1 class = "form-heading mb-5">Create new appointment</h1>
            <form action="/patients/<%= patient._id %>/appointments/new" method="POST" class="ui form">
                <div class="field">
                    <label class = "label" for = "consultingDoctor">Name of Doctor</label>
                    <input class = "form-input" type="text" name="consultingDoctor" id = "consultingDoctor" placeholder = "Your consulting doctor" required>
                </div>

                <div class="field">
                    <label class = "label" for = "reason">Reason for Consultation</label>
                    <input class = "form-input" type="text" name="reason" id = "reason" placeholder = "Your answer" required>
                </div>

                <div class="field">
                    <label class = "label" for = "startTime">Appointment time</label>
                    <input class = "form-input" type="text" name="startTime" id = "startTime" placeholder = "(Each consultation is a 30 min slot)" required>
                </div>
                
                <button class = "ui button submit mt-3" type="submit">Submit</button>
            </form>
        </div>
    </div>

<%- include("../partials/footer"); %>